html,
body {
  height: 100%;
  margin: 0;
  display: block;
  align-items: center;
  justify-content: center;
}

.logo-container {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  height: 110px;
}

.logo {
  width: 250px;
}

.chatlog-container {
  display: flex;
  height: 50%;
  overflow: auto;
}

.chat-log {
  overflow: auto;
  height: auto;
}

.chat {
  position: fixed;
  border: 2px solid #021521; /* Set border color */
  box-shadow: 0 0 10px #3498db; /* Set box shadow color for highlighting effect */
  width: 45%;
  left: 30px;
  height: 55%;
  overflow: auto;
}
.chatinput-container {
  position: fixed;
  bottom: 70px;
  left: 30px;
  width: 42.5%;
  padding: 20px; /* Optional: Add padding for spacing */
  background-color: #3498db; /* Optional: Add a background color */
  color: #fff; /* Optional: Set text color */
  display: flex;
  align-items: center;
}

#answer {
  position: absolute;
  height: 35px;
  flex: 1;
  margin-right: auto;
  margin-left: auto;
  width: 420px;
}

/* #send-btn {
  margin-left: auto;
  margin-right: 50px;
  height: 35px;
  width: 110px;
} */

.room-container {
  position: fixed;
  border: 2px solid #021521; /* Set border color */
  box-shadow: 0 0 10px #3498db; /* Set box shadow color for highlighting effect */
  width: 45%;
  height: 300px;
  right: 15px;
  background-color: beige;
}

#live-users {
  background-color: aqua;
}

.facts-container {
  position: fixed;
  border: #021521;
  box-shadow: #db9e34;
  background-color: #db9e34;
  width: 45%;
  height: 20%;
  bottom: 70px;
}

#show-facts {
  font-size: x-large;
}

/* CSS */
#send-btn {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1a1a1a;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin-left: auto;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 140px;
  will-change: transform;
}

#send-btn:disabled {
  pointer-events: none;
}

#send-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

#send-btn:active {
  box-shadow: none;
  transform: translateY(0);
}
